In [105]:
from bs4 import BeautifulSoup
import pandas as pd

In [80]:
page = open('SouthKorea.html', 'rt', encoding='utf-8').read() # HTML 파일 읽고 문자열 리턴
soup = BeautifulSoup(page, 'html.parser')

In [100]:
tr = soup.find('tr')
trs = tr.find_next_siblings()
univs = []
first_spans = tr.find_all("span")
first_span = first_spans[1].get_text(strip = True)
univs.append(first_span)

In [101]:
counts = []
score = tr.find("td",{"align":"right"})
counts.append(score.get_text(strip = True))

In [102]:
faculties = []
fa = score.find_next_sibling()
faculties.append(fa.get_text(strip = True))

In [103]:
counter = 0
for k in trs:
    if counter % 3 == 2:
        spans = k.find_all("span")
        name = spans[1].get_text(strip = True)
        univs.append(name)
        count = k.find("td",{"align":"right"})
        counts.append(count.get_text(strip = True))
        facu = count.find_next_sibling()
        faculties.append(facu.get_text(strip = True))
    counter = counter + 1

In [104]:
print(univs)
print(faculties)
print(counts)

['KAIST', 'Seoul National University', 'POSTECH', 'UNIST', 'Yonsei University', 'Korea University', 'Hanyang University', 'Kyung Hee University', 'Kyungpook National University']
['28', '16', '7', '8', '7', '5', '2', '1', '1']
['5.6', '3.2', '1.9', '1.6', '1.6', '1.5', '1.1', '1.0', '1.0']

In [106]:
total = []
for i in range(len(univs)):
    eachtotal = [univs[i], counts[i], faculties[i]]
    total.append(eachtotal)

In [107]:
total

[['KAIST', '5.6', '28'],
 ['Seoul National University', '3.2', '16'],
 ['POSTECH', '1.9', '7'],
 ['UNIST', '1.6', '8'],
 ['Yonsei University', '1.6', '7'],
 ['Korea University', '1.5', '5'],
 ['Hanyang University', '1.1', '2'],
 ['Kyung Hee University', '1.0', '1'],
 ['Kyungpook National University', '1.0', '1']]

In [108]:
total_df = pd.DataFrame(total, columns=['Institution', 'Count', 'Faculty'])

In [109]:
total_df

                     Institution Count Faculty
0                          KAIST   5.6      28
1      Seoul National University   3.2      16
2                        POSTECH   1.9       7
3                          UNIST   1.6       8
4              Yonsei University   1.6       7
5               Korea University   1.5       5
6             Hanyang University   1.1       2
7           Kyung Hee University   1.0       1
8  Kyungpook National University   1.0       1

In [110]:
save_fname = 'Institution_list_SouthKorea'
total_df.to_csv(save_fname, encoding='utf-8-sig')